<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCp7k4aSPsGYLAT15B64DNiccbv84moZlo</string>
	<key>GCM_SENDER_ID</key>
	<string>481631831066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jca.PushNotificationsSample</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationssample-71d40</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationssample-71d40.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481631831066:ios:88c51b2cfcf81504803da3</string>
</dict>
</plist>